<section class="storefront__focus relative dn pl3 pl5-l mt5 pb5">
    <div class="storefront__mobileIntroCopy relative db dn-l w-60">
        <h1 class="storefront__mobileTitle mv1 f3 fw5">{{focus.name}}</h1>
        <div class="storefront__focusBar w4 h2 mt3" style="background-color: {{focus.hexColor}};"></div>
        <span class="storefront__mobileDescription db pt3 pb5 f5 lh-copy">{{focus.description}}</span>
    </div>
    <div class="storefront__scroller {{#unless @last}}{{#ifCond focus.products.length '<' 4}}storefront__scroller--short{{/ifCond}}{{/unless}} hzScroller relative pb5">
        <div class="storefront__scrollerItem hzScroller__item dn db-l">
            <div class="storefront__scrollerIntroCopy">
                <h1 class="storefront__scrollerTitle mv1 avenir fw1 f3">{{focus.name}}</h1>
                <div class="storefront__focusBar w4 h2 mt4 mb2" style="background-color: {{focus.hexColor}};"></div>
                <span class="storefront__scrollerDescription db pt3 pb5 f5 lh-copy w-50-l">{{focus.description}}</span>
                <a class="storefront__cta db pv3 link" href="/shop/focus/{{focus.slug}}"><span class="dib mr3 black f5 fw5">See all {{focus.name}} ({{focus.products.length}})</span></a>
            </div>
        </div>
        {{#if focus.featuredProducts}}
            {{#each focus.featuredProducts as |product|}}
                {{> storeFrontProduct product=(lookup ../appData.products product)}}
            {{/each}}
        {{else}}
            {{#each focus.products as |product|}}
                {{> storeFrontProduct product=product}}
            {{/each}}
        {{/if}}
    </div>
    <div class="storefront__mobileCtaWrap relative db dn-l">
        <a class="storefront__cta db pt3 pt5-m pb3 link" href="/shop/focus/{{focus.slug}}"><span class="dib mr3 black f5 fw5">See all {{focus.name}} ({{focus.products.length}})</span></a>
    </div>
</section>