<div class="ingredientProductsSlider__wrap" data-ingredient-slug="{{ingredient.fields.slug}}" data-ingredient-name="{{ingredient.fields.name}}">
    {{#if products.length}}
        <span class="dib fw7 f3 mv4 ttu">Shop {{ingredient.name}}</span>
        <div class="ingredientProducts__scroller pb5 hzScroller">
            {{#each products as |product|}}
            <a class="ingredientProducts__scrollerItem hzScroller__item relative link black bg-white" href="/shop/products/{{product.slug}}">
                <div class="h-100 pv4" style="background: {{hexToRgba product.focus.0.fields.hexColor product.focus.0.fields.alpha}};">
                    <img class="ingredientProducts__productRitualIcon absolute w-10 top-1 left-1" src="{{product.ritual.0.fields.icon.fields.file.url}}">
                    <div class="ingredientProducts__productImage relative aspect-ratio--1x1 contain bg-center" style="background-image: url('{{product.images.0.fields.file.url}}?w=250&q=80')">
                        <img class="sr-only" alt="{{product.name}}" src="{{product.images.0.fields.file.url}}?w=1&q=10">
                    </div>
                    <h2 class="ingredientProducts__productName mt3 mb0 ph3 f5 b tc">{{product.name}}</h2>
                    <div class="ingredientProducts__productDetails mv2 ph3 f5 tc fw1">
                        {{#ifCond product.productVariants.length '===' 1}}
                            <span class="ingredientProducts__productVariants">{{product.productVariants.0.fields.variation}}</span>
                            <span class="ingredientProducts__productPrice"> | ${{product.price}}.00</span>
                        {{else}}
                            <span class="ingredientProducts__productVariants">{{product.productVariants.length}} Sizes</span>
                            <span class="ingredientProducts__productPrice"> | From
                                {{#each product.productVariants as |variant|}}
                                    {{#if @last}}${{variant.fields.price}}.00{{/if}}
                                {{/each}}
                            </span>
                        {{/ifCond}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    {{/if}}
</div>